* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "m-semibold";
    src: url(Montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "m-light";
    src: url(Montserrat/static/Montserrat-Light.ttf);
}
@font-face {
    font-family: "m-medium";
    src: url(Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "m-regular";
    src: url(Montserrat/static/Montserrat-Regular.ttf);
}

:root{
    --green-color : #a8fbd3;
    --mint-color : #4fb7b3;
    --purple-color : #637ab9;
    --navy-color : #31326f;
    

}
/*Side bar*/
.sidebar {
    position: relative;
    background: var(--navy-color);
    color: white;
    width: 175px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "m-medium";
}

.menu {
    position: relative;
    margin: 10px 0px 0px 0px;
    width: 110px;
    height: 30px;
    padding: 20px 0px 0px 50px;
    background-color: var(--purple-color);
    border-radius: 15px 0px;
    cursor: pointer;
    align-items: center;
}

.dashboard {
margin-top: 150px;
}
/*Side bar End*/    width: fit-content;
/*Side bar End*/

/* Dashboard */

.main-dashboard{
    position: relative;
    margin: -1050px 0px 0px 200px;
    width: 85vw;
    height: 100vh;
    background-color: white;
    overflow: hidden;
}

.user-title{
    position: absolute;
    font-family: "m-medium";
    color: var(--purple-color);
    margin: 80px 0px 0px 20px;
}

.user-title p{
    font-size: 40px;
}

.bulan-dashboard{
    position: absolute;
    font-family: "m-medium";
    color: black;
    margin: 125px 0 0 25px;
}

.bulan-dashboard p{
    font-size: 20px;
    color: var(--purple-color);
}
/* Untuk Membuat Logo Segitiga via css */
.triangle{
    position: absolute;
    margin: -20px 0 0 70px;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 15px solid var(--purple-color);
}
/* Selesai */


.dropdown-bulan{
    position: absolute;
    display: none;
    margin: 150px 0 0 60px;
    font-family: "m-medium";
    width: fit-content;
    height: fit-content;
}

.dropdown-bulan ul li{
    text-align:center;
    margin: 10px;
}

.dropdown-bulan ul li a{
    text-decoration: none;
}

.dropdown-bulan ul li a:hover {
    color: var(--purple-color);
}
.dropdown-bulan li::marker{
    /* Biar tanda buletnya transparan */
    color: white;
}

.bulan-dashboard:hover + .dropdown-bulan{
    display: block;
}

.dropdown-bulan:hover{
    display: block;
}

/* Dashboard end */