* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "m-semibold";
    src: url(Montserrat/static/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: "m-light";
    src: url(Montserrat/static/Montserrat-Light.ttf);
}
@font-face {
    font-family: "m-medium";
    src: url(Montserrat/static/Montserrat-Medium.ttf);
}
@font-face {
    font-family: "m-regular";
    src: url(Montserrat/static/Montserrat-Regular.ttf);
}

:root{
    --green-color : #a8fbd3;
    --mint-color : #4fb7b3;
    --purple-color : #637ab9;
    --navy-color : #31326f;
    

}
/*Side bar*/
.sidebar {
    position: relative;
    background: var(--navy-color);
    color: white;
    width: 175px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "m-medium";
}

.menu {
    position: relative;
    margin: 10px 0px 0px 0px;
    width: 110px;
    height: 30px;
    padding: 20px 0px 0px 50px;
    background-color: var(--purple-color);
    border-radius: 15px 0px;
    cursor: pointer;
    align-items: center;
}

.dashboard {
margin-top: 150px;
}
/*Side bar End*/    width: fit-content;
    width: fit-content;
    height: fit-content;
